{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}
    <h1>{% block title %} My {{title}} Likes {% endblock %}</h1>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Users</legend>
                {% if form.choices.errors %}
                <div>
                    {% for error in form.choices.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                {% for choice in form.choices %}
                    <div>
                        {{ choice }}
                        {{ choice.label }}
                    </div>
                {% endfor %}
            </fieldset>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}